#page {
	width: 100%;
	overflow: hidden;
}

#cover {
	width: 100%;
	height: 100%;
	background-image: url(../images/portada.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.inner {
	width: 1000px;
	margin: auto;
	height: 100%;
	position: relative;
}

#top_bar {
	width: 100%;
	height: 150px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	background-color: #fefefe;
}

#logo {
	width: 455px;
	height: 55px;
	float: left;
	position: relative;
	left: 0px;
	top: 45px;
}

#main_content {
	width: 150px;
	height: 0px;
	float: left;
	position: absolute;
	right: 0px;
	top: 45px;
}

.main, .show {
	width: 70px;
	height: 70px;
	cursor: pointer;
	z-index: 1;
	position: absolute;
	right: 0px;
}

#main_item_content {
	width: 100%;
	height: 157px;
	background-color: #fefefe;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	padding-top: 20px;
	display: none;
	position: absolute;
	right: 0px;
	top: 70px;
}

.item_main {
	width: 120px;
	text-align: center;
	margin: 10px auto;
	font-family: 'Roboto', sans-serif;
	color: #525151;
	font-size: 17px;
	cursor: pointer;
	padding-bottom: 10px;
	border-bottom: 1px solid #52515133;
}

#erp_item {
	margin: 0px auto;
}

#contactanos {
	margin: 0px auto;
	padding-bottom: 0px;
	border: none;
}

img {
	width: 100%;
}

#name {
	width: 690px;
	height: 280px;
	margin: auto;
	margin-top: 70px;
}

#subtitle {
	width: 690px;
	font-family: 'Roboto', sans-serif;
	margin: auto;
	margin-top: 30px;
	font-size: 31px;
	text-align: center;
	color: #fefefe;
	text-shadow: 0px 1px #666
}

#content_icon {
	width: 982px;
	height: 100px;
	position: absolute;
	bottom: 100px;
}

.icon {
	width: 100px;
	height: 100px;
	float: left;
	margin: 0px 13px;
	cursor: pointer;
	border-radius: 50%;
}

#first {
	margin-left: 0px;
}

#last {
	margin-right: 0px;
}

#contact_content {
	width: 100%;
	height: 100px;
	background-color: #b7b7b7;
}


#contact {
	width: 518px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	color: #525151;
	font-size: 40px;
	padding-top: 25px;
	font-weight: 300;
}

#content {
	width: 100%;
	height: 3200px;
	background-image: url(../images/fondo.png);
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 50px;
	position: relative;
	overflow: hidden;
}

#job {
	width: 950px;
	height: 550px;
	background-color: #e8edf1;
	margin: auto;
	padding-top: 30px;
	margin-bottom: 100px;
}

#title_job {
	width: 554px;
	height: 40px;
	margin: auto;
	color: #345b97;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 50px;
}

.item_content {
	background-image: url(../images/palomita.png);
	width: 500px;
	height: 168px;
	float: left;
	background-size: 100% 70%;
	background-repeat: no-repeat;
}

#uno {
	margin: auto;
	float: none;
}

#two_content {
    width: 1050px;
    height: 200px;
    position: relative;
    left: -50px;
}

#izq {
	margin-right: 50px;
}

.item_title {
	width: 216px;
	height: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	margin: auto;
	position: relative;
	top: 10px;
	margin-bottom: 15px;
}

.item_text {
	width: 341px;
	height: 77px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-left: 140px;
	color: #fff;
	font-weight: 300;
}

#apps {
	width: 100%;
	height: 820px;
	margin-bottom: 100px;
}

#content_apps {
	width: 100%;
	height: 95%;
}

#line {
	width: 700px;
	border-bottom: #7c7b7b 3px solid;
	margin: auto;
	margin-bottom: 30px;
}

.item_apps {
	width: 46%;
	height: 150px;
	float: left;
	margin: 3% 2%;
}

.image_apps {
	width: 130px;
	height: 130px;
	float: left;
}

.text_content_apps {
	width: 310px;
	height: 130px;
	float: left;
	margin-left: 20px;
}

.title_apps {
	width: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 29px;
	margin-bottom: 10px;
	color: #5c5b5b;
}

.text_apps {
	width: 310px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #5c5b5b;
}

#big_apps {
	width: 937px;
	height: 147px;
	float: left;
	position: absolute;
	right: 0px;
	top: 1415px;
}

#experience {
	width: 100%;
	height: 520px;
	background-color: #3e679f;
	padding-top: 100px;
}

#pic {
	width: 410px;
	float: left;
}

#exp_content {
	width: 475px;
	float: left;
	margin-left: 115px;
	
}

#exp_title {
	width: 250px;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #fefefe;
	margin-bottom: 15px;
}

#exp_text {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #fefefe;
}

#interaction {
	width: 100%;
	height: 146px;
	background-color: #3e679f;
	margin-top: 100px;
	padding-top: 50px;
}

#inter_text {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	color: #fefefe;
	text-align: center;
	font-weight: 300;
}

#inter_text span {
	font-weight: 700;
}

#contact_form {
	width: 100%;
	height: 500px;
	margin-top: 100px;
}

.cont_data {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

.label {
	width: 120px;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	color: #5c5b5b;
	float: left;
	margin-right: 20px;
}

.input, .input input, #message, #message textarea {
	width: 860px;
	height: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #5c5b5b;
	float: left;
	text-align: center;
}

.input input {
	font-weight: 300;
}

#message, #message textarea {
	height: 200px;
	text-align: left;
}

#button {
	width: 100px;
	height: 70px;
	margin: auto;
	margin-top: 50px;
}

#buttons {
	width: 130px;
	height: 50px;
	margin: auto;
	margin-top: 50px;
	background-color: #3e679f;
	color: #fefefe;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	cursor: pointer;
}

@media (max-width: 1880px) {
	#big_apps {
		width: 900px;
		height: 140px;
	}
}

@media (max-width: 1800px) {
	#big_apps {
		width: 850px;
		height: 132px;
	}
}

@media (max-width: 1700px) {
	#big_apps {
		width: 800px;
		height: 125px;
		top: 1425px;
	}
}

@media (max-width: 1650px) {
	#big_apps {
		width: 750px;
		height: 120px;
	}
}

@media (max-width: 1500px) {
	#big_apps {
		width: 700px;
		height: 109px;
		top: 1433px;
	}
}

@media (max-width: 1400px) {
	#big_apps {
		width: 650px;
		height: 101px;
	}
}

@media (max-width: 1300px) {
	#big_apps {
		width: 600px;
		height: 94px;
		top: 1440px;
	}
}

@media (max-width: 1200px) {
	#big_apps {
		width: 550px;
		height: 86px;
	}
}

@media (max-width: 1100px) {
	#big_apps {
		width: 500px;
		height: 79px;
		top: 1440px;
	}

	#two_content {
		left: 0px;
	}

	#izq {
    	margin-right: 20px;
	}

	.item_content {
		width: 440px;
	}

	.item_text {
		margin-left: 110px;
	width: 331px;
	font-size: 13px;
	}
}

@media (max-width: 1000px) {
	#big_apps {
		width: 450px;
		height: 75px;
		top: 1263px;
	}

	.inner {
		width: 900px;
	}

	.icon {
		width: 90px;
		height: 90px;
		margin: 0px 12px;
	}

	.image_apps {
		width: 100px;
		height: 100px;
	}

	.text_content_apps {
		width: 294px;
	}

	#pic {
		width: 350px;
	}

	#exp_content {
		width: 500px;
		margin-left: 50px;
	}

	#job {
		width: 900px;
		height: 450px;
		margin-bottom: 50px;
	}

	#apps {
		margin-bottom: 50px;
	}

	#interaction {
		margin-top: 50px;
	}

	#content {
		height: 2950px;
	}

	.input, .input input, #message, #message textarea {
		width: 760px;
	}

	#content_icon {
		width: 900px;
	}
}

@media (max-width: 900px) {
	#big_apps {
		width: 400px;
		height: 63px;
		top: 1245px;
	}

	.inner {
		width: 800px;
	}

	.icon {
		width: 75px;
		height: 75px;
	}

	.image_apps {
		width: 100px;
		height: 100px;
	}

	.text_content_apps {
		width: 248px;
	}

	#pic {
		width: 350px;
	}

	#exp_content {
		width: 400px;
		margin-left: 50px;
	}

	#job {
		width: 800px;
		height: 450px;
		margin-bottom: 50px;
	}

	#apps {
		margin-bottom: 50px;
	}

	#interaction {
		margin-top: 50px;
	}

	#content {
		height: 2950px;
	}

	.input, .input input, #message, #message textarea {
		width: 660px;
	}

	#content_icon {
	    width: 800px;
	    height: 75px;
	}

	.item_content {
	    width: 390px;
	}

	.item_text {
		margin-left: 100px;
		width: 284px;
	}

	.text_apps {
		width: 248px;
	}

	.title_apps {
		font-size: 23px;
	}

	#inter_text {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.inner {
		width: 700px;
	}

	#content_icon {
	    width: 700px;
	}

	.icon {
	    margin: 0px 7px;
	}

	#job {
	    width: 700px;
	    height: 450px;
	    margin-bottom: 50px;
	}

	.item_content {
	    width: 340px;
	    height: 145px;
	}

	.item_title {
		right: -30px;
	}

	.item_text {
	    margin-left: 85px;
	    width: 255px;
	    font-size: 12px;
	}

	.text_content_apps {
	    width: 202px;
	}

	.text_apps {
	    width: 220px;
	}

	#big_apps {
	    width: 360px;
	    height: 56px;
	    top: 1230px;
	}

	#pic {
	    width: 250px;
	}

	.input, .input input, #message, #message textarea {
	    width: 560px;
	}

	#line {
		width: 600px;
	}
}

@media (max-width: 700px) {
	.inner {
		width: 600px;
	}

	#content_icon {
	    width: 350px;
	    height: 155px;
	    left: 155px;
	    bottom: 50px;
	}

	.icon {
	    margin: 10px 7px;
	}

	#job {
	    width: 600px;
	    height: 520px;
	    margin-bottom: 50px;
	}

	.item_content {
	    width: 390px;
	}

	#big_apps {
	    top: 1700px;
	    width: 290px;
	}

	#pic {
	    float: none;
	    margin: auto;
	}

	.input, .input input, #message, #message textarea {
	    width: 460px;
	}

	#name {
	    width: 600px;
	    height: 244px;
	    margin: 45px auto;
	}

	#subtitle {
		width: 600px;
		font-size: 27px;
	}

	#two_content {
	    width: 390px;
	    height: 290px;
	    position: initial;
	    margin: auto;
	}

	.item_apps {
		height: 260px;
	}

	#apps {
		height: 1190px;
	}

	#exp_title {
		margin: auto;
	}

	#exp_text {
		width: 400px;
		margin: auto;
	}

	#experience {
		height: 720px;
		padding-top: 0px;
	}

	#exp_content {
		margin: auto;
		float: none;
	}

	#content {
	    height: 3400px;
	}

	#logo {
		width: 300px;
		height: 35px;
		top: 60px;
	}

	#line {
		width: 500px;
	}

	#title_job {
		font-size: 34px;
	}
}

@media (max-width: 600px) {
	.inner {
		width: 500px;
	}

	#name {
    	width: 500px;
	}

	#subtitle {
    	width: 440px;
    	font-size: 27px;
	}

	#content_icon {
		position: initial;
    	margin: 20px auto;
	}

	#job {
		width: 450px;
	}

	#title_job {
    	width: 450px;
    }

    #big_apps {
	    top: 1700px;
	    width: 230px;
	    height: 37px;
	}

	#inter_text {
	    font-size: 16px;
	}

	#interaction {
		height: 100px;
		padding-top: 20px;
	}

	.input, .input input, #message, #message textarea {
	    width: 300px;
	}

	#message, #message textarea {
	    height: 100px;
	    text-align: center;
	}

	#content {
	    height: 3250px;
	}
}



@media (max-height: 800px) {
	#content_icon {
		bottom: 40px;
	}

	#subtitle {
		margin-top: 0px;
	}

	#name {
		margin-bottom: 0px;
	}
}

@media (max-height: 730px) {
	#name {
		width: 400px;
		height: 163px;
	}

	#subtitle {
		font-size: 20px;
	}
}

@media (max-height: 590px) {
	#name {
	    margin: 20px auto;
	}

	#content_icon {
		margin: 5px auto;
		bottom: -120px;
	}
}

@media (max-width: 500px) {
	#logo {
		left: 0px;
		top: 30px;
	}

	#main_content {
		display: none;
	}

	.inner {
		width: 300px;
	}

	#name {
	    width: 300px;
	    height: 121px;
	}

	#subtitle {
    	width: 280px;
    	font-size: 16px;
    	margin-top: 20px;
	}

	#job {
		width: 300px;
		height: 465px;
	}

	#title_job {
    	width: 300px;
    }

    #contact {
    	font-size: 23px;
    }

    .icon {
	    width: 63px;
	    height: 63px;
	}

	#content_icon {
		width: 313px;
	}

	#title_job {
	    font-size: 22px;
	}

	.item_content {
	    width: 300px;
	    height: 125px;
	}

	.item_title {
	    font-size: 15px;
	}

	.item_title {
		margin-bottom: 10px;
	}

	.item_text {
	    margin-left: 78px;
	    width: 227px;
	    font-size: 10px;
	}

	#line {
		width: 300px;
	}

	.item_apps {
	    width: 100%;
	    float: none;
	    margin: 10px auto;
	}

	#apps {
	    height: 1900px;
	}

	.text_content_apps {
		width: 220px;

	}

	#big_apps {
	    top: 650px;
	    width: 180px;
	    height: 29px;
	}

	#content_apps {
		height: 1917px;
	}

	#apps > .inner {
		height: 1917px;
	}

	.title_apps {
	    font-size: 21px;
	}

	#exp_content, #exp_text {
		width: 300px;
		font-size: 16px;
	}

	#experience {
	    height: 620px;
	    padding-top: 0px;
	}

	#content {
	    height: 3800px;
	}

	#inter_text {
	    font-size: 13px;
	}

	#contact_form {
		margin-top: 50px;
	}

	.input, .input input, #message, #message textarea {
	    width: 190px;
	    font-size: 14px;
	}

	.label {
		font-size: 20px;
		width: 90px;
	}

	#contact_content {
		height: 75px;
	}

	#top_bar {
		height: 100px;
	}
}

@media (max-width: 500px) and (max-height: 465px) {
	#cover {
		height: 150%;
	}

	#subtitle {
    	font-size: 16px;
    	margin-top: 0px;
	}
}

@media (max-width: 640px) and (max-height: 430px) {
	.icon {
	    width: 60px;
	    height: 60px;
	    margin: 5px 7px;
	}

	#content_icon {
    	width: 289px;
    	bottom: -200px;
    	left: 180px;
	}
}

@media (max-height: 590px) {
	.icon {
	    width: 60px;
	    height: 60px;
	    margin: 5px 7px;
	}

	#content_icon {
    	width: 289px;
    	bottom: -200px;
    	left: 180px;
	}

	#top_bar {
		height: 100px;
	}

	#logo {
		left: 0px;
		top: 30px;
	}

	#main_content {
		right: 0px;
		top: 15px;
	}

	#name {
		width: 300px;
		height: 122px;
	}
}

@media (max-height: 340px) {
	#cover {
		height: 170%;
	}
}

@media (max-width: 605px) {
	#main_item_content {
		width: 65%;
		height: 115px;
		padding-top: 10px;
	}

	.item_main {
		width: 85px;
		font-size: 12px;
		padding-bottom: 5px;
	}
}














